#root .hero {
  position: relative;
  background-image: url("https://www.technodom.kz/under/neuro-santa/hero-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center, center center;
  transition: background 1s ease-in-out;

  &_ded {
    background-position: center right -50px, center center;
    background-image: url("https://www.technodom.kz/under/neuro-santa/hero-bg-ded-desktop.png"), url("https://www.technodom.kz/under/neuro-santa/hero-bg-desktop.png");
  }

  @media (max-width: 700px) {
    background-image: none;
  }

  &__content {
    min-height: 862px;
    display: flex;
    align-items: center;
    gap: 100px;

    @media (max-width: 1150px) {
      flex-direction: column;
    }

    @media (max-width: 700px) {
      background-image: none;
      min-height: auto;
      display: flex;
      align-items: center;

      gap: 0;
    }
  }

  &__title-image-mobile {
    display: none;

    @media (max-width: 700px) {
      display: block;
      max-width: 250px;
      height: auto;

      margin-bottom: -15px;
    }
  }

  &__sphere {
    position: relative;
    width: 600px;
    height: 600px;

    margin-top: -200px;

    @media (max-width: 1150px) {
      margin: 0;
    }

    @media (max-width: 700px) {
      width: 66.66vw;
      height: 66.66vw;
    }
  }

  &__sphere-header {
    width: 600px;
    height: 600px;
    background-image: url("https://www.technodom.kz/under/neuro-santa/sphere.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 47px center;
    clip-path: circle(50% at 50% 59%);

    position: relative;
    z-index: 2;

    @media (max-width: 700px) {
      background-position: top 5.3vw center;
      width: 66.66vw;
      height: 66.66vw;
    }
  }

  &__sphere-footer {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: -80px;
    left: 0;

    @media (max-width: 700px) {
      bottom: -10vw;
    }
  }

  &__wrapper-btn {
    text-align: center;
    margin-top: -50px;
    position: relative;
    z-index: 3;

    @media (max-width: 700px) {
      bottom: -8vw;
    }
  }

  &__sphere-decor {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    animation: center 60s linear infinite;

    @keyframes center {
      0% {
        transform: translateX(-50%) translateY(-50%) scale(1.2) rotate(540deg) rotate(540deg);
      }

      50% {
        transform: translateX(-50%) translateY(-50%) scale(0.75) rotate(360deg) rotate(360deg);
      }

      100% {
        transform: translateX(-50%) translateY(-50%) scale(1.2) rotate(180deg) rotate(180deg);
      }
    }
  }
}
