@font-face {
  font-family: Museo;
  font-weight: 100;
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Thin.woff2");
  font-display: swap;
}

@font-face {
  font-family: Museo;
  font-weight: 300;
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Light.woff2");
  font-display: swap;
}

@font-face {
  font-family: Museo;
  font-weight: 400;
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: Museo;
  font-weight: 700;
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: Museo;
  font-weight: 900;
  src: url("https://www.technodom.kz/under/tab_showcase/fonts/MuseoSansCyrl-ExtraBold.woff2");
  font-display: swap;
}