#root .card {
  position: relative;
  z-index: 10;
  padding: 24px;
  border-radius: 40px;
  background: #FFF;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 2px 40px 0 #FFEF62;

  display: flex;
  flex-direction: column;
  gap: 26px;

  max-width: 409px;
  margin-top: -70px;

  @media (max-width: 1150px) {
      margin-top: 50px;
  }

  &_show {
    opacity: 1;
  }

  &__wrapper-image {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 24px;
  }

  &__image {
    width: 256px;
    height: 256px;
  }

  &__wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  &__title {
    color: #FC6B3F;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
  }

  &__promocode-control {
    display: flex;
    align-items: center;
    gap: 24px;

    margin-top: 8px;
  }

  &__promocode-inner {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 100%;
  }

  &__description {
    color: #464C53;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    opacity: 0.8;
    text-align: center;

    margin-top: 16px;
  }

  &__wrapper-buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 32px;
  }

  &__wrapper-price {
    padding: 10px 16px;
    border-radius: 16px;
    background: linear-gradient(94deg, #FFD542 0%, #FFBB0C 100.59%);

    display: flex;
    gap: 8px;

    width: 100%;
    max-width: 330px;

    margin-top: 24px;
  }

  &__description-price {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  &__footer-price {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__text-price {
    color: #000;
    font-weight: 400;
    line-height: 100%;
    font-size: 12px;
  }

  &__current-price {
    color: #000;
    font-weight: 900;
    line-height: 100%;
    font-family: 'Museo', serif;
    font-size: 22px;
  }

  &__old-price {
    color: #000;
    line-height: 100%;
    text-decoration: line-through;
    font-family: 'Museo', serif;
    opacity: 0.5;
    font-size: 14px;
  }

  &__wrapper-discount {
    flex-basis: 77px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    width: 100%;
    gap: 4px;

    border-radius: 8px;
    background: #E7A600;
  }

  &__text-discount {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    font-size: 12px;
  }

  &__discount {
    color: #FFF;
    font-weight: 900;
    line-height: 100%;
    font-size: 14px;
  }

  &__link {
    color: #FC6B3F;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 16px;
    text-decoration: none;
    border-radius: 24px;
    border: 2px solid #FC6B3F;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    width: 100%;

    margin-top: 16px;
  }
}
