#root .kaspi {
  width: 100vw;
  height: 49.8vw;

  background-image: url("https://www.technodom.kz/under/neuro-santa/kaspi-desktop.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 160px;

  &__description {
    max-width: 952px;
    padding: 28px 72px 64px;
    position: relative;

    border-radius: 24px;
    background: linear-gradient(180deg, #FC6B3F 3.62%, #FFB68D 183.35%);
  }

  &__text {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
  }

  &__link {
    padding: 24px 56px;
    color: #FC6B3F;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;
    border-radius: 24px;
    background-color: #FFF;
    box-shadow: 0 5px 24px 0 #FFCD83;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;

    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      opacity: 0.8;
    }
  }
}
