#root .toys {
  display: grid;

  grid-template-columns: repeat(3, 17.39vw);
  gap: 2.91vw;
  justify-content: center;

  background-image: url("https://www.technodom.kz/under/neuro-santa/toys-bg.png");
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 50px;

  @media (max-width: 700px) {
    grid-template-columns: repeat(3, 26.38vw);
    gap: 2.2vw;
    margin-top: 10px;
    background-image: none;
  }
}
