#root .promoOnePlusOne {
  height: 672px;

  background-image: url("https://www.technodom.kz/under/neuro-santa/promo-2-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;

  @media (max-width: 700px) {
    height: auto;
  }

  &__container {
    max-width: 1524px;
    padding: 15px;
    margin: 0 auto;
    height: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 48px;

    @media (max-width: 700px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__right {
    position: relative;
  }

  &__image-main {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__image-part {
    width: 23.42%;
    height: 56.49%;
    display: block;

    position: absolute;
    top: 11%;
    left: 31%;
    transform-origin: bottom;
    animation: growAnimation 12s ease-in-out forwards infinite alternate;
  }

  @keyframes growAnimation {
    0% {
      transform: scaleY(1) translateX(-5%);
    }
    10% {
      transform: scaleY(1) translateX(5%);
    }
    20% {
      transform: scaleY(1) translateX(-5%);
    }
    30% {
      transform: scaleY(1) translateX(5%);
    }
    40% {
      transform: scaleY(1) translateX(-5%);
    }
    50% {
      transform: scaleY(1) translateX(5%);
    }
    60% {
      transform: scaleY(1) translateX(-5%);
    }
    70% {
      transform: scaleY(1) translateX(5%);
    }
    80% {
      transform: scaleY(1) translateX(-5%);
    }
    90% {
      transform: scaleY(1) translateX(5%);
    }
    100% {
      transform: scaleY(1) translateX(-5%);
    }
  }

  &__left {
    flex-shrink: 0;
    flex-basis: 600px;

    display: flex;
    align-items: center;

    @media (max-width: 700px) {
      order: 1;
      flex-basis: auto;
    }
  }

  &__wrapper-text {
    max-width: 450px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 700px) {
      align-items: center;
      gap: 14px;
    }
  }

  &__title {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;

    @media (max-width: 700px) {
      font-size: 20px;
    }
  }

  &__text {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;

    @media (max-width: 700px) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__link {
    color: #FC6B3F;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.44px;

    padding: 24px 46px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0 5px 24px 0 #FFCD83;
    text-decoration: none;
    transition: opacity 0.25s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 700px) {
      font-size: 14px;
      padding: 12px 32px;
      width: 100%;
      text-align: center;
      border-radius: 12px;
    }
  }
}
