#root .particleFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  height: 100%;

  @media (max-width: 700px) {
    top: 53%;
  }

  &__particle {
    width: 650px;
    height: 650px;

    @media (max-width: 700px) {
      width: 47.2vw;
      height: 47.2vw;
    }
  }
}
