#root .toy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  cursor: pointer;

  @media (max-width: 700px) {
      gap: 8px;
  }

  &__wrapper {
    position: relative;
    transition: transform 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      transform: translateY(-25px);

      .toy__decor-active {
        opacity: 1;
      }
    }

    @media (max-width: 700px) {
      &:hover {
        transform: translateY(0) scale(1.1);

        .toy__decor-active {
          opacity: 1;
        }
      }
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;

    @media (max-width: 700px) {
      max-width: 81%;
      margin: 0 auto;
    }
  }

  &__decor-active {
    width: 15.9vw;
    height: 11.1vw;

    background-image: url("https://www.technodom.kz/under/neuro-santa/toy-active.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 0.25s ease-in-out;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    opacity: 0;
  }

  &__text {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -0.577px;
    text-decoration: underline;
    max-width: 290px;

    @media (max-width: 700px) {
      font-size: 12px;
    }

    //max-width: 11.45vw;
  }
}
